CalcWPF/CalcWPF/Service References/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/IISHostedService/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/IISHostedService/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/IISHostedService/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_AddNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNumber" />
  </wsdl:message>
  <wsdl:message name="IService_AddNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SubNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:SubNumber" />
  </wsdl:message>
  <wsdl:message name="IService_SubNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IService_MultNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:MultNumber" />
  </wsdl:message>
  <wsdl:message name="IService_MultNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DivNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:DivNumber" />
  </wsdl:message>
  <wsdl:message name="IService_DivNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SignChange_InputMessage">
    <wsdl:part name="parameters" element="tns:SignChange" />
  </wsdl:message>
  <wsdl:message name="IService_SignChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignChangeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_HistoryReport_InputMessage">
    <wsdl:part name="parameters" element="tns:HistoryReport" />
  </wsdl:message>
  <wsdl:message name="IService_HistoryReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:HistoryReportResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="AddNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddNumber" message="tns:IService_AddNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddNumberResponse" message="tns:IService_AddNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SubNumber" message="tns:IService_SubNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SubNumberResponse" message="tns:IService_SubNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MultNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/MultNumber" message="tns:IService_MultNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/MultNumberResponse" message="tns:IService_MultNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DivNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DivNumber" message="tns:IService_DivNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DivNumberResponse" message="tns:IService_DivNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignChange">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SignChange" message="tns:IService_SignChange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SignChangeResponse" message="tns:IService_SignChange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HistoryReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/HistoryReport" message="tns:IService_HistoryReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/HistoryReportResponse" message="tns:IService_HistoryReport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNumber">
      <soap:operation soapAction="http://tempuri.org/IService/AddNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubNumber">
      <soap:operation soapAction="http://tempuri.org/IService/SubNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultNumber">
      <soap:operation soapAction="http://tempuri.org/IService/MultNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DivNumber">
      <soap:operation soapAction="http://tempuri.org/IService/DivNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignChange">
      <soap:operation soapAction="http://tempuri.org/IService/SignChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistoryReport">
      <soap:operation soapAction="http://tempuri.org/IService/HistoryReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost/IISHostedService/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>